# Execlude SONAR data file
*.aris
*.ddf

# Execlude virtualenv
venv

# Execlude VSCode settings
.vscode

# Execlude built executables
build

# Avoid pushing the compiled files
__pycache__


# If working from MAC OSX
.DS_Store

# Execlude analysis output samples or trial code samples
out.json
data.json
data_all.json
test.json
test.py
samples
